<!-- <h1 class="text-center">Add New Restaurant</h1> -->

<!-- Alert for success messages -->
<div class="container">
  <div class="box">
    <form [formGroup]="addResto" (ngSubmit)="collectResto()">
      <h2 class="text-center">Add New Restaurant</h2>

      <div class="inputBox">
        <input type="text" formControlName="name" required>
        <span>Restaurant Name</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="email" formControlName="email" required>
        <span>Email</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="text" formControlName="address" required>
        <span>Address</span>
        <i></i>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- <img src="./side.png" alt="Right Side Image" class="side-image"> -->
  <a href="https://ibb.co/hsJpX44"><img  class="side-image" src="https://i.ibb.co/PxvBTPP/undraw-favourite-item-pcyo.png" alt="undraw-favourite-item-pcyo" border="0"></a>
</div>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Your Data has been entered.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<!-- <div class="visme_d" data-title="Simple Newsletter Subscription"
  data-url="x40qo8ky-simple-newsletter-subscription?fullPage=true" data-domain="forms" data-full-page="true"
  data-min-height="100vh" data-form-id="89632"></div>
<script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script> -->