.R {
    color: chocolate;

}
.Blue {
    color: blue;
}
.red {
    color: red;
}

.yellow {
    color: yellow;
}
.green {
    color: green;
}
 .voilet {
    color: violet;
 }
 .brown {
    color: brown;
 }
 .sky {
    color: skyblue;
 }