<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bulb-container">
    <div class="bulb-holder">
        <div class="bulb">
            <div class="light"></div>
        </div>
    </div>

    <div class="bulb-holder" id="b1">
        <div class="bulb">
            <div class="light"></div>
        </div>
    </div>

    <div class="bulb-holder" id="b2">
        <div class="bulb">
            <div class="light"></div>
        </div>
    </div>
</div>


<div class="container"> 
    <i class="fa fa-phone" aria-hidden="true"></i>
</div>   