.container {
  display: flex; /* Use flexbox to position sidebar and content */



}

.sidebar {
  width: 200px; /* Set width of the sidebar */
  background-color: #f8f9fa; /* Light background color for the sidebar */
  padding: 15px; /* Padding inside the sidebar */
  box-shadow: 2px 0 5px rgba(1, 216, 105, 0.793); /* Shadow effect */
  height: 100vh; /* Full height */
  overflow-y: auto; /* Enable scrolling if the content exceeds the height */
  align-items: start;
}

.sidebar-title {
  font-size: 1.2rem; /* Font size for the title */
  margin-bottom: 10px; /* Space below the title */
  font-weight: bold; /* Bold text */
 text-align: center;
}

.sidebar-images {
  display: flex; /* Use flexbox to align images */
  flex-direction: column; /* Align images vertically */
}

.sidebar-image {
  width: 100%; /* Full width of the sidebar */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between images */
  border-radius: 5px; /* Rounded corners */
}

.content {
  flex: 1; /* Allow content to take up remaining space */
  padding: 20px; /* Add padding for content */
  align-items: left;
  justify-content: left;

}

.custom-card {
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.color-boxes {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 0 10px;

}

.custom-thumbnail {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.text-center {
  font-size: 1rem;
  margin-top: 10px;
}
