<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-link nav-item" routerLink="add">Add Restaurant</a>
      <a class="nav-link nav-item" routerLink="">List Restaurants</a>
      <a class="nav-link nav-item" routerLink="login">Login</a>
      <a class="nav-link nav-item" routerLink="register">Register</a>

    </div>
  </div>
</nav>


<!-- Ab YAha pr refresh nahi ho rha hai   -->

<!-- footer add -->
<div class="container">
  <router-outlet></router-outlet>

  <footer>
    <p>Register Your Restaurant With Us</p>
  </footer>
</div>

<!-- <div class="wrapper">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <p>Register Your Restaurant With Us</p>
</footer> -->

